.timerbtn{
    width: 80px;
    height: 30px;
    border: 3px solid;
    border-radius:12px;
    background-color: rgb(21, 221, 64);
    cursor:pointer;
    font-family: serif;
    
    } 
    #timedisplay{
        color: rgb(255, 5, 5);
        font-size: 71px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    #timed{
    border: 3px solid;
    border-radius: 30px;
    background-color: rgb(6, 31, 4);
    width: 440px;
    }
